<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product</title>
</head>
<body>
<div align="center">
    <h1>Producer Registration</h1>
    <form action="#" th:action="@{/app/producers/create-new}" method="post" th:object="${producer}">
        <label>Name:</label>
        <input type="text" th:field="*{name}"/><br/>


        <button type="submit">Save</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
</div>
</body>
</html>