<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product</title>
</head>
<body>
<div align="center">
    <h1>Product Registration</h1>
    <form action="#" th:action="@{/app/products/create-new}" method="post" th:object="${product}">
        <label>Name:</label>
        <input type="text" th:field="*{name}"/><br/>

        <label>Price:</label>
        <input type="text" th:field="*{price}"/><br/>

        <label>Producer:</label>
        <select th:name="producer" required="required">
            <option th:each="p : ${allProducers}" th:text="${p.name}" th:value="${p.id}">
            </option>
        </select>

        <button type="submit">Save</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
</div>
</body>
</html>