<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Product Management</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark"
         style="background-color: tomato">
        <div>
            <a href="https://www.javaguides.net" class="navbar-brand"> Product Management</a>
        </div>

        <ul class="navbar-nav">
            <li><a href="/"
                   class="nav-link">Main menu</a></li>
        </ul>
    </nav>
</header>
<br>


<div class="row">
    <div class="container">
        <h3 class="text-center">List of Products</h3>
        <hr>
        <div class="container text-left">
            <a href="/app/products/create-new" class="btn btn-success">Add
                New Product</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Producer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${list}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.producer.name}"></td>

                <td><a th:href="'/app/products/update?id=' + ${p.id}">Edit</a>
                    <a th:href="'/app/products/delete/'+ ${p.id}">Delete</a>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
