<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<title>Roles Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
     <header>
        <nav class="navbar navbar-expand-md navbar-dark"
             style="background-color: tomato">
            <div>
                <a href="https://www.javaguides.net" class="navbar-brand"> Roles Management</a>
            </div>

            <ul class="navbar-nav">
                <li><a href="/"
                       class="nav-link">Main menu</a></li>
            </ul>
        </nav>
    </header>
    <br>


        <div class="row">
            <div class="container">
                <h3 class="text-center">List of Roles</h3>
                <hr>
                <div class="container text-left">
                    <a href="/app/roles/create-new" class="btn btn-success">Add
                        New Role</a>
                </div>
                <br>
                <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>

                            <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                             <tr th:each ="role : ${list}">
                                <td th:text="${role.id}"></td>
                                <td th:text="${role.name}"></td>

                                <td><a th:href="'/app/roles/update?id=' + ${role.id}">Edit</a>
                                <a th:href="'/app/roles/delete/'+ ${role.id}">Delete</a>
                                <br>
<!--                                <a th:href="'/skills?action=new&id='+ ${role.id}">Add User</a>-->
<!--                                <br>-->
<!--                                <a th:href="'/skills?action=redirect&id='+ ${role.id}">Delete User</a>-->
                                <br>
                                </td>
                             </tr>
                        </tbody>
                </table>
            </div>
        </div>
</body>

</html>
