<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<div align="center">
    <h1>User Edit</h1>
    <form action="#" th:action="@{/app/users/update}" method="post" th:object="${user}">
        <label>First name:</label>
        <input type="text" th:field="*{userToEdit.firstName}" /><br/>

        <label>last name:</label>
        <input type="text" th:field="*{userToEdit.lastName}" /><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{userToEdit.email}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{userToEdit.password}" /><br/>


<!--        <label>Roles:</label>-->
<!--        <select th:field="*{listRoles}">-->
<!--            <option th:each="p : ${listRoles}" th:value="${p}" th:text="${p}" />-->
<!--        </select>-->
<!--        <br/>-->



        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>