<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<title>Add New Developer</title>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: tomato">
			<div>
				<a href="https://www.javaguides.net" class="navbar-brand"> User Management</a>
			</div>

			<ul class="navbar-nav">
				<li><a href="/users"
					class="nav-link">Users</a></li>
			</ul>
		</nav>
	</header>
	<br>
	<div class="container col-md-5">
		<div class="card">
			<div  class="card-body">
			    <form th:="'app/users/save'"  method="post">



                    <fieldset class="form-group">
                        <label>First Name</label>  <input type="text"
                        name="firstName" th:value="${firstName}" class="form-control"
                         required="required">
                    </fieldset>

                    <fieldset class="form-group" >
                        <label>Last Name</label> <input type="text"
                         name="secondName" th:value="${secondName}" class="form-control"
                             required="required">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>email</label> <input type="text"
                          name="email"  th:value="${email}" class="form-control"
                           required="required">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Password</label> <input type="text"
                           name="password" th:value="${password}" class="form-control"

                             required="required">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Role (ADMIN, USER)</label> <input type="text"
                         name="role"  th:value="${role}" class="form-control"
                          required="required">
                    </fieldset>

                    <button type="submit"  class="btn btn-success">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
